* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #e6f7ff;
    color: #00264d;
    font-family: 'Verdana', sans-serif;
}

header {
    background-color: #005580;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    background-color: #004d99; 
    width: 100%;
    height: 50px; 
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.1em;
}

nav ul li a:hover {
    background-color: #003366; 
    border-radius: 5px;
    text-decoration: underline;
}

.large-text {
    font-size: 1.3em;
    line-height: 1.5;
    color: #004d99; 
}

.question-list {
    font-size: 1.2em;
    margin: 20px 0;
}

.question-list li {
    font-size: 1.2em;
    color: #003366; 
    margin: 10px 0;
}

#contenido p, .large-text {
    font-size: 1.2em;
    color: #003366; 
}

#contenido ul.question-list li {
    font-size: 1.1em;
}

#biografia {
    font-family: 'Georgia', serif;
    font-size: 1.1em;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

#contenido h2 {
    color: #003366;
    margin-top: 20px;
}

#contenido p, #contenido img {
    margin-bottom: 20px;
}

footer {
    background-color: #005580;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 2px solid #003366; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: left;
    box-sizing: border-box; 
}

th {
    background-color: #003366;
    color: #ffffff; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #d9f2ff; 
}

/* Nuevas adiciones */
.navbar-nav .nav-link {
    padding: 15px 20px;
    font-size: 1.1em;
}

.navbar-nav .nav-link:hover {
    background-color: #003366; 
    border-radius: 5px;
}

.container {
    margin-top: 20px;
}

.lead {
    font-size: 1.3em;
    line-height: 1.5;
    color: #004d99;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.table-bordered {
    border: 2px solid #003366;
}

.table-bordered th {
    background-color: #003366;
    color: #ffffff;
}

.table-bordered td {
    background-color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #d9f2ff;
}

.footer {
    background-color: #005580;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

